@import "tailwindcss";


* {
  font-family: 'Noto Sans';
}

.roboto{
  font-family: 'Roboto';
}

.navlink {
  font-family: 'Roboto';
  font-size: 14px;
  text-transform: uppercase;
}

.lightHover:hover {
  background-color: #fcf4ff;
}

.darkHover:hover {
  background-color: #2a004a;
}

.dark .darkTheme {
  background-color: #1a1a1e;
}

.dark .whiteText{
  color: white;
}

.shadow-black {
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}

.shadow-white {
  box-shadow: -10px 0 10px rgba(255, 255, 255, 0.1);
}

.grid-cols-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}