@import "tailwindcss";


* {
  font-family: 'Noto Sans', sans-serif;
}
.poppins {
  font-family: 'Poppins', sans-serif;
}


.dark .darkTheme {
  background-color: #121212;
}

.dark .whiteText{
  color: #E5E5E5;
}

.shadow-black {
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}

.shadow-white {
  box-shadow: -10px 0 10px rgba(255, 255, 255, 0.1);
}