@import "tailwindcss";

:root {
  --background: #ffffff;
}

body {
  background: var(--background);
  font-family: var(--font-noto-sans);
}

.poppins {
  font-family: var(--font-poppins), sans-serif;
}

.shadow-black {
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}